/* Osnovni stil za telo stranice */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Stilovi za header */
header {
    background-color: #00e1ff;
    color: #000000;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 20px;
}

/* Navigacija u headeru */
header nav {
    margin-top: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    color: #00e1ff;
    transform: scale(1.1);
}

/* Stilovi za pretragu */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}

/* Glavni sadržaj stranice */
#tutorial {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    transition: opacity 1s ease-in-out;
}

section.show {
    opacity: 1;
}

/* Stilovi za pre i posle koda */
pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Stil za dugmadi */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2500fa;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Footer stilovi */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: auto;
}

/* Tamna tema */
body.dark-theme {
    background-color: #121212;
    color: #fff;
}

body.dark-theme button {
    background-color: #555;
    color: white;
}

body.dark-theme button:hover {
    background-color: #777;
}

/* Dugme za povratak na prethodnu stranu */
button.back-button {
    background-color: #333;
    color: white;
}

button.back-button:hover {
    background-color: #ff0000;
}

/* dugme za prebacivanje teme */
button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #000000;
    color: #eee;
}
